body {
    font-family: system-ui, -apple-system, BlinkMacSystemFont;
    background: brown;
    padding: 20px;
}

h1 {
    text-align: center;
    margin-bottom: 40px;
}

.dashboard {
    display: flex;
    justify-content: space-around;
    gap: 20px;
}

.card {
    background: white;
    padding: 20px;
    border-radius: 8px;
    width: 200px;
    box-shadow: 0px 2px 6px rgba(0,0,0,0.15);
}
