<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>RelayBot Dashboard</title>
    <link rel="stylesheet" href="/static/style.css">
</head>
<body>
    <h1>RelayBot Dashboard</h1>

    <div class="dashboard">
        <div class="card" id="POS">
            <h2>P.O.S</h2>
            <p><strong>Left Wheel:</strong> <span class="left_wheel">--</span></p>
            <p><strong>Right Wheel:</strong> <span class="right_wheel">--</span></p>
            <p><strong>Distance:</strong> <span class="distance">--</span> cm</p>
            <p><strong>Gripper:</strong> <span class="gripper">--</span></p>
            <p><strong>Last Updated:</strong> <span class="time">--</span></p>
        </div>

        <div class="card" id="Wall-E">
            <h2>Wall-E</h2>
            <p><strong>Left Wheel:</strong> <span class="left_wheel">--</span></p>
            <p><strong>Right Wheel:</strong> <span class="right_wheel">--</span></p>
            <p><strong>Distance:</strong> <span class="distance">--</span> cm</p>
            <p><strong>Gripper:</strong> <span class="gripper">--</span></p>
            <p><strong>Last Updated:</strong> <span class="time">--</span></p>
        </div>

        <div class="card" id="Dazey">
            <h2>Dazey</h2>
            <p><strong>Left Wheel:</strong> <span class="left_wheel">--</span></p>
            <p><strong>Right Wheel:</strong> <span class="right_wheel">--</span></p>
            <p><strong>Distance:</strong> <span class="distance">--</span> cm</p>
            <p><strong>Gripper:</strong> <span class="gripper">--</span></p>
            <p><strong>Last Updated:</strong> <span class="time">--</span></p>
        </div>
    </div>
    <p id="arduino-status" style="color: red; font-weight: bold;">
    Arduino not connected
    </p>

    <button id="show-image-btn">Dazey made it to her wedding!</button>
    <div id="image-container" style="margin-top: 10px;"></div>

    <script src="/static/script.js"></script>
</body>
</html>
